@import "tailwindcss";

:root {
  --verde-musgo: #4C6B3C;
  --preto-profundo: #0D0D0D;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #333333;
  transition: background-color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

main {

  background-color: var(--branco);
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;
}


main section {
  margin-bottom: 25px;
  
  min-width: 100% !important;
  min-height: 100vh;
}


.leaflet-container {
  z-index: 0 !important;
}


