.foto-tleft {
    left: 20%;
    transform: translateX(-100%);
    transition: all 1.5s ease-in-out !important;
}

.card-tright {
    right: 20%;
    transform: translateX(100%);
    transition: all 1.5s ease-in-out !important;
}

/* Para telas menores que 1000px */
@media (max-width: 1000px) {
    .foto-tleft {
        left: 50% !important;
        transform: translateX(-50%) translateY(-100%) !important;
        /* Subindo mais */
        width: 200px !important;
        height: 200px !important;
    }

    .card-tright {
        right: 50% !important;
        transform: translateX(50%) translateY(-50%) !important;
        width: 90% !important;
        max-width: 300px;
        margin-top: 180px;
        /* Reduzindo um pouco para evitar sobreposição */
    }
}